# Environment & Secrets
.env/

# Virtual Environments
venv/
.venv/
.venv2/

# Python Cache
__pycache__/
*.pyc

# Test & IDE Cache
.pytest_cache/
.vscode/

# Flask Instance Folder (Database / Configs)
instance/