Flask==3.1.3
flask-swagger-ui==5.21.0
flask-caching==2.3.1
flask-limiter==3.12
flask-marshmallow==1.5.0
Flask-SQLAlchemy==3.1.1
marshmallow-sqlalchemy==1.5.0
python-jose==3.5.0
gunicorn
psycopg2-binary